body {margin:25px; font:12px Verdana, Arial, Helvetica}
* {padding:0; margin:0}
.dropdownTop {float:left; padding-right:5px}
.dropdownTop dt { border:0px solid #EEEEEE; padding-left:0px; font-weight: 100; color: #FFFFFF; background-color: #; cursor:pointer;}
.dropdownTop dt:hover {color:#CCCCCC;}
.dropdownTop dd {position:absolute; overflow:hidden; display:none; background:#; z-index:200; opacity:0; color:#000000;}
.dropdownTop ul {background-color:#336633; list-style:none; border-top:none; margin-left:0px; margin-left:0px; padding-left:10px; padding-bottom:5px; margin-top:10px; width:140px; border-bottom: #333333 solid 1; border-left: #333333 solid 1;border-right: #333333 solid 1;}
.dropdownTop li {display:inline;}
.dropdownTop a, .dropdown a:active, .dropdown a:visited {display:block; font-weight:bold; color:#000000; text-decoration:none; background:#;}
.dropdownTop a:hover {background:#336633; color:#FFFFFF}
.dropdownTop .underline {border-bottom:0px dotted #; padding-top:11px; padding-bottom:2px; margin-bottom:4px}
.dropdownTop .underline:hover {color:#CCCCCC;}