#tabdiv {
	height: 25px;
	margin-bottom: 0px;
	background-color: #D9A05E;
	color: #2A2F4C;
	border: 1px solid #DB5533;
	padding-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	line-height: 100%;
	font-weight: bold;
	text-align: center;
	width:140px;
}

td.code {
	font-family: 
}